@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

html {
  font-family: 'Open Sans', sans-serif;
  height: 100%;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
/* ================= */
/*      DESKTOP      */
/* ================= */
@media only screen and (min-width: 961px) {
  body {
    /* background-image: url('../images/background-image.jpg'); */
    position: relative;
    min-height: 100%;
  }
}
/* ================= */
/*      Tablet       */
/* ================= */
@media only screen and (max-width: 960px) {
  body {
    /* background-image: url('../images/fundo-papyrus.jpg') !important; */
  }
  #upwrapper {
    max-width: 960px;
    height: auto;
    margin: 0 auto;
    background-repeat: no-repeat;
  }
}
